
@media (mix-width: 600px) {
  mat-card {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 600px) and (max-width: 2000px) {
  mat-card {
    width: 50%;
    margin: 0 auto;
  }
}

#user-list {
  width: 50%;
  margin: 0 auto;
}

#altura {
  overflow-y: auto;
  height: 460px;
  padding: 0px;
}

* {
  font-family: Montserrat;
  font-weight: 300;
}

#toolbar{
  display: flex;
  justify-content: space-between;
  font-family: "Montserrat";
  font-weight: 300;
  background-color: rgb(63, 154, 196);
  letter-spacing: 2px;
}

#delete {
  cursor: pointer;
  color: rgb(255, 71, 71);
  display: flex;
  align-items: center;
}

.new{
  cursor: pointer;
  color: white;
  display: flex;
  align-items: center;
}

#edit {
  cursor: pointer;
  color: rgb(5, 167, 5);
  display: flex;
  align-items: center;
}
#actions {
  display: flex;
  justify-content: center;
}

#mat-button-custom {
  border: 0px;
  background-color: white;
}
#mat-button-custom-adm {
  display: flex;
  align-items: center;
  border: 0px;
  background-color: rgba(0, 0, 0, 0);
}
#loading-spinner {
  height: 333px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.15);
}

.filtro {
  margin-top: 15px;
  width: 100%;
  --mat-form-field-subscript-text-line-height: 0px;
}

.divisor {
padding: 0px;
}

.contador {
  margin-right: 10px;
}
mat-card-actions {
  display: flex;
  justify-content: space-between;
}
mat-button {
  background-color: rgb(63, 154, 196);
}

