@media (mix-width: 600px) {
  mat-card {
    width: 100%;
    margin: 0 auto;
  }
}
@media (min-width: 600px) and (max-width: 2000px) {
  mat-card {
    width: 40%;
    margin: 0 auto;
    background-color: rgb(230, 237, 240);
  }
}

.full-width {
  width: 100%;
}

mat-form-field {
  margin-bottom: -6px;
}

mat-card-actions {
  margin-left: 10px;
}

mat-toolbar,
button {
  margin-bottom: 1em;
}

#peso-fonte {
  font-weight: 300;
  font-family: Montserrat;
}

button {
  margin-right: 10px;
}
#button-salvar{
  background-color: rgb(63, 154, 196);
  color: white;
}

.background-toolbar {
  background-color: rgb(63, 154, 196);
  font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
  letter-spacing: 2px;
  font-weight: 300;
  color: white
}
