<mat-card class="painel">
  <div class="toolbar">
    <mat-toolbar color="primary" id="peso-fonte" class="mat-elevation-z1">Advertência de Penalidade</mat-toolbar>
  </div>

  <div class="linha1">
    <mat-card class="card">
      <mat-card-actions>
        <button (click)="fiscalizacao()" mat-button>Fiscalização</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card">
      <mat-card-actions>
        <button (click)="linha()" mat-button>Linha</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card">
      <mat-card-actions>
        <button (click)="veiculo()" mat-button>Veículo</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card">
      <mat-card-actions>
        <button (click)="consorcio()" mat-button>Consórcio</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <div class="linha2">
    <mat-card class="card">
      <mat-card-actions>
        <button (click)="irregularidades()" mat-button>Irregularidades</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card">
      <mat-card-actions>
        <button (click)="infracao()" mat-button>Infração</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card">
      <mat-card-actions>
        <button (click)="usuario()" mat-button>Usuário</button>
      </mat-card-actions>
    </mat-card>
    <mat-card class="card">
      <mat-card-actions>
        <button (click)="sair()" mat-button>Sair</button>
      </mat-card-actions>
    </mat-card>
  </div>
</mat-card>
