<mat-card class="painel">
  <div class="toolbar">
    <mat-toolbar color="primary" class="mat-elevation-z1 background-toolbar"
      >Advertência de Penalidade</mat-toolbar
    >
  </div>
  <div class="colunas">
    <div class="coluna1">
      <mat-card class="card2">
        <mat-card-actions>
          <button
            style="color: white; letter-spacing: 1px; font-weight: 400;"
            (click)="adicionarIrregularidade()"
            mat-button
          >
            Adicionar Notificação
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card style="background-color: rgb(85, 157, 206)" class="card2">
        <mat-card-actions>
          <button
            style="color: white; letter-spacing: 1px; font-weight: 400"
            (click)="parametrosConsulta()"
            mat-button
          >
            Consultar/Imprimir
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="coluna2">
      <mat-card class="card">
        <mat-card-actions>
          <button
            style="color: white; letter-spacing: 1px; font-weight: 400"
            (click)="linha()"
            mat-button
          >
            Linha
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card">
        <mat-card-actions>
          <button
            style="color: white; letter-spacing: 1px; font-weight: 400"
            (click)="veiculo()"
            mat-button
          >
            Veículo
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="coluna3">
      <mat-card class="card">
        <mat-card-actions>
          <button
            style="color: white; letter-spacing: 1px; font-weight: 400"
            (click)="infracao()"
            mat-button
          >
            Infração
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card class="card">
        <mat-card-actions>
          <button
            style="color: white; letter-spacing: 1px; font-weight: 400"
            (click)="usuario()"
            mat-button
          >
            Usuário
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
    <div class="coluna4">
      <mat-card class="card">
        <mat-card-actions>
          <button
            style="color: white; letter-spacing: 1px; font-weight: 400"
            (click)="agente()"
            mat-button
          >
            Agente
          </button>
        </mat-card-actions>
      </mat-card>
      <mat-card style="background-color: rgb(120, 154, 200)" class="card">
        <mat-card-actions>
          <button
            style="color: white; letter-spacing: 1px; font-weight: 400"
            (click)="sair()"
            mat-button
          >
            Sair
          </button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</mat-card>
