.linha1 {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
.linha2 {
  display: flex;
  justify-content: center;
}
.toolbar {
  display: flex;
  justify-content: center;
  padding: 15px 10px 10px 10px;

}

.card {
  padding: 30px;
  width: 150px;
  align-items: center;
  margin: 0px 10px 15px 10px;
  background-color: rgb(96, 193, 238);
}
.painel {
  display: flex;
  margin: 0 auto;
  margin-top: 100px;
  width: fit-content;
  padding: 10px;
  background-color: rgb(205, 245, 252);
}

.background-toolbar{
  background-color: rgb(63, 154, 196);
}
