

<div *ngFor="let irregularidade of filtradas" id="container" class="page">

  <span class="watermark-sumob-1via">S U M O B</span>
  <span class="watermark-bhtrans-1via">B H T R A N S</span>
  <span class="watermark-sumob-2via">S U M O B</span>
  <span class="watermark-bhtrans-2via">B H T R A N S</span>
  <header>
    <h2><strong>ADVERTÊNCIA DE IRREGULARIDADE - TRANSPORTE COLETIVO</strong></h2>
    <span style="font-size: 10px"
      ><strong>Nº da notificação:</strong>
      {{ irregularidade.numeroIrregularidade }}</span
    >
  </header>
  <section>

    <span style="font-size: 10px"
      ><strong>Veículo:</strong> {{ irregularidade.numeroVeiculo }}</span
    >
    <span style="margin-left: 40px; font-size: 10px"
      ><strong>Placa:</strong> {{ placaVeiculo }}</span
    >
    <span style="margin-left: 40px; font-size: 10px"
      ><strong>Linha:</strong> {{ irregularidade.numeroLinha }} -
      {{ nomeLinha }}</span
    >
    <span style="margin-left: 30px; font-size: 10px"
      ><strong>Subconc.:</strong> {{ subconcessionaria }}</span
    >
    <span style="margin-left: 40px; font-size: 10px"
      ><strong>Consórcio:</strong> {{ numeroConsorcio }}</span
    >
  </section>
  <mat-divider></mat-divider>
  <section style="padding: 10px 0px 0px 0px">
    <div>
      <span style="font-size: 10px"
        ><strong>Data:</strong> {{ irregularidade.dataIrregularidade }}</span
      >
      <span style="margin-left: 40px; font-size: 10px"
        ><strong>Horário:</strong> {{ irregularidade.horario }}</span
      >
      <span style="margin-left: 40px; font-size: 10px"
        ><strong>Local:</strong> {{ irregularidade.local }}</span
      >
      <span style="margin-left: 40px; font-size: 10px"
        ><strong>Nº:</strong> {{ irregularidade.numeroLocal }}</span
      >
      <span style="margin-left: 40px; font-size: 10px"
        ><strong>Bairro:</strong> {{ irregularidade.bairro }}</span
      >
    </div>
    <div>
      <span style="font-size: 10px">
        <strong>Infração:</strong> {{ irregularidade.codigoInfracao }} -
        {{ descricaoInfracao }}
      </span>
    </div>
    <div>
      <span style="font-size: 10px"
        ><strong>Observações:</strong> {{ irregularidade.descricao }}</span
      >
    </div>
  </section>

  <mat-divider></mat-divider>
  <section style="padding: 10px 0px 0px 0px">
    <h4><strong>FISCALIZAÇÃO:</strong></h4>
    <div>
      <span style="font-size: 10px">
        <strong>Mat. do agente:</strong>
        {{ irregularidade.matAgenteConferente }}
      </span>
      <span style="margin-left: 40px; font-size: 10px"
        ><strong>Data de emissão:</strong>
        {{ irregularidade.dataEmissao }}</span
      >
      <span style="margin-left: 40px; font-size: 15px">
        <strong>Prazo Cumprimento/Conferência: </strong>
        <u>{{ irregularidade.prazoCumprimentoConferencia }}</u>
      </span>
    </div>
  </section>
  <mat-divider></mat-divider>
  <div style="padding: 5px 0px 5px 0px">
    <span style="font-size: 10px; padding-top: 10px"
      ><strong>
        O veículo deverá estar disponível na garagem no horário de 00:00 às
        05:00 horas para conferência da irregularidade, conforme determinação
        SUMOB/BHTRANS.</strong
      >
    </span>
  </div>
  <mat-divider></mat-divider>
  <section class="resultado-conferencia" style="padding: 10px 0px 0px 0px">
    <h4>
      <strong
        >RESULTADO DA CONFERÊNCIA DA ADVERTÊNCIA DE IRREGULARIDADE:</strong
      >
    </h4>
    <div>
      <span style="font-size: 10px"
        ><strong>Mat. fiscal:</strong> ______________</span
      >
      <span style="font-size: 10px; margin-left: 35px"
        ><strong>Data: </strong> _______/ _______/ _____________</span
      >
      <span style="font-size: 10px; margin-left: 35px"
        ><strong>Hora: </strong> ______ : _______</span
      >
      <span style="font-size: 10px; margin-left: 35px"
        ><strong>Cumpriu:</strong>

        <span class="rounded-square"></span>
      </span>

      <span style="font-size: 10px; margin-left: 35px"
        ><strong>Não cumpriu:</strong> <span class="rounded-square"></span
      ></span>
    </div>
    <div>
      <span style="font-size: 10px"
        ><strong>Veículo indisponível:</strong>
        <span class="rounded-square"></span
      ></span>
      <span style="font-size: 10px; margin-left: 35px"
        ><strong>Não verificado:</strong> <span class="rounded-square"></span
      ></span>
      <span style="font-size: 10px; margin-left: 35px"
        ><strong>Visto empresa:</strong> _______________________</span
      >
    </div>
  </section>
  <mat-divider></mat-divider>
  <div style="padding: 10px 0px 10px 0px">
    <div class="centralizar">
      <span>
        SUMOB/Empresa de Transportes e Trânsito de Belo Horizonte - S. A.
        BHTRANS
      </span>
    </div>
    <div class="centralizar">
      <span>
        Av. Eng. Carlos Goulart, 900 - Bairro Estoril - CEP: 30455-700 - Belo
        Horizonte - MG
      </span>
    </div>
    <span style="font-size: 10px">1ª via - BHTRANS</span>
    <br />
  </div>
  <div>
    <span
      >- - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
      - - - - - - - -
    </span>
  </div>
  <br />
  <header>
    <h2><strong>ADVERTÊNCIA DE IRREGULARIDADE - TRANSPORTE COLETIVO</strong></h2>
    <span style="font-size: 10px"
      ><strong>Nº da notificação:</strong>
      {{ irregularidade.numeroIrregularidade }}</span
    >
  </header>
  <!-- <span><strong>VEÍCULO:</strong></span> -->
  <section>
    <span style="font-size: 10px"
      ><strong>Veículo:</strong> {{ irregularidade.numeroVeiculo }}</span
    >
    <span style="margin-left: 30px; font-size: 10px"
      ><strong>Placa:</strong> {{ placaVeiculo }}</span
    >
    <span style="margin-left: 30px; font-size: 10px"
      ><strong>Linha:</strong> {{ irregularidade.numeroLinha }} -
      {{ nomeLinha }}</span
    >
    <span style="margin-left: 30px; font-size: 10px"
      ><strong>Subconc.:</strong> {{ subconcessionaria }}</span
    >
    <span style="margin-left: 30px; font-size: 10px"
      ><strong>Consórcio:</strong> {{ numeroConsorcio }}</span
    >
  </section>
  <mat-divider></mat-divider>
  <section style="padding: 10px 0px 0px 0px">
    <!-- <h3><strong>IRREGULARIDADE:</strong></h3> -->
    <div>
      <span style="font-size: 10px"
        ><strong>Data:</strong> {{ irregularidade.dataIrregularidade }}</span
      >
      <span style="margin-left: 40px; font-size: 10px"
        ><strong>Horário:</strong> {{ irregularidade.horario }}</span
      >
      <span style="margin-left: 40px; font-size: 10px"
        ><strong>Local:</strong> {{ irregularidade.local }}</span
      >
      <span style="margin-left: 40px; font-size: 10px"
        ><strong>Nº:</strong> {{ irregularidade.numeroLocal }}</span
      >
      <span style="margin-left: 40px; font-size: 10px"
        ><strong>Bairro:</strong> {{ irregularidade.bairro }}</span
      >
    </div>
    <div>
      <span style="font-size: 10px">
        <strong>Infração:</strong> {{ irregularidade.codigoInfracao }} -
        {{ descricaoInfracao }}
      </span>
    </div>
    <div>
      <span style="font-size: 10px"
        ><strong>Observações:</strong> {{ irregularidade.descricao }}</span
      >
    </div>
  </section>
  <mat-divider></mat-divider>
  <section style="padding: 10px 0px 0px 0px">
    <h4><strong>FISCALIZAÇÃO:</strong></h4>
    <div>
      <span style="font-size: 10px">
        <strong>Mat. do agente:</strong>
        {{ irregularidade.matAgenteConferente }}
      </span>
      <span style="margin-left: 40px; font-size: 10px"
        ><strong>Data de emissão:</strong>
        {{ irregularidade.dataEmissao }}</span
      >
      <span style="margin-left: 40px; font-size: 15px">
        <strong>Prazo Cumprimento/Conferência: </strong>
        <u>{{ irregularidade.prazoCumprimentoConferencia }}</u>
      </span>
    </div>
  </section>
  <mat-divider></mat-divider>
  <div style="padding: 5px 0px 5px 0px">
    <span style="font-size: 10px; padding-top: 10px"
      ><strong>
        O veículo deverá estar disponível na garagem no horário de 00:00 às
        05:00 horas para conferência da irregularidade, conforme determinação
        SUMOB/BHTRANS.</strong
      >
    </span>
  </div>
  <mat-divider></mat-divider>
  <section class="resultado-conferencia" style="padding: 10px 0px 0px 0px">
    <h4>
      <strong
        >RESULTADO DA CONFERÊNCIA DA ADVERTÊNCIA DE IRREGULARIDADE:</strong
      >
    </h4>
    <div>
      <span style="font-size: 10px"
        ><strong>Mat. fiscal:</strong> ______________</span
      >
      <span style="font-size: 10px; margin-left: 35px"
        ><strong>Data: </strong> _______/ _______/ _____________</span
      >
      <span style="font-size: 10px; margin-left: 35px"
        ><strong>Hora: </strong> ______ : _______</span
      >
      <span style="font-size: 10px; margin-left: 35px"
        ><strong>Cumpriu:</strong> <span class="rounded-square"></span
      ></span>
      <span style="font-size: 10px; margin-left: 35px"
        ><strong>Não cumpriu:</strong> <span class="rounded-square"></span
      ></span>
    </div>





    <div>
      <span style="font-size: 10px"
        ><strong>Veículo indisponível:</strong>
        <span class="rounded-square"></span
      ></span>
      <span style="font-size: 10px; margin-left: 35px"
        ><strong>Não verificado:</strong> <span class="rounded-square"></span
      ></span>
      <span style="font-size: 10px; margin-left: 35px"
        ><strong>Visto empresa:</strong> _______________________</span
      >
    </div>
  </section>
  <mat-divider></mat-divider>
  <div style="padding: 10px 0px 10px 0px">
    <div class="centralizar">
      <span>
        SUMOB/Empresa de Transportes e Trânsito de Belo Horizonte - S. A.
        BHTRANS
      </span>
    </div>
    <div class="centralizar">
      <span>
        Av. Eng. Carlos Goulart, 900 - Bairro Estoril - CEP: 30455-700 - Belo
        Horizonte - MG
      </span>
    </div>
    <span style="font-size: 10px">2ª via - EMPRESA</span>
  </div>
</div>

