<div id="container" class="page">
  <header>
    <h2><strong>ADVERTÊNCIA DE IRREGULARIDADE</strong></h2>
    <h5>Nº da notificação: {{ irregularidade.numeroIrregularidade }}</h5>
  </header>
  <h3><strong>VEÍCULO:</strong></h3>
  <section>
    <h5>VEÍCULO: {{ irregularidade.numeroVeiculo }}</h5>
    <h5>LINHA: {{ irregularidade.numeroLinha }} - {{ nomeLinha }}</h5>
    <h5>CONSÓRCIO: {{ irregularidade.numeroConsorcio }} - {{ nomeConsorcio }}</h5>
    <h5>PLACA: {{ placaVeiculo }}</h5>
  </section>
  <mat-divider></mat-divider>
  <section class="irregularidade">
    <h3><strong>IRREGULARIDADE:</strong></h3>
    <div>
      <h5>DATA: {{ irregularidade.dataIrregularidade }}</h5>
      <h5>HORÁRIO: {{ irregularidade.horario }}</h5>
      <h5>LOCAL: {{ irregularidade.local }}</h5>
      <h5>INFRAÇÃO: {{ irregularidade.codigoInfracao }} - {{ descricaoInfracao }}</h5>
      <h5>OBSERVAÇÕES: {{ irregularidade.descricao }}</h5>
    </div>
  </section>
  <mat-divider></mat-divider>
  <section class="fiscalizacao">
    <h3><strong>FISCALIZAÇÃO:</strong></h3>
    <h5>MATRÍCULA DO AGENTE CONFERENTE: {{ irregularidade.matAgenteConferente }}</h5>
    <h5>DATA DE EMISSÃO: {{ irregularidade.dataEmissao }}</h5>
    <h5>PRAZO CUMPRIMENTO/CONFERÊNCIA: {{irregularidade.prazoCumprimentoConferencia}}</h5>
  </section>
  <section class="observacao">
    <h5>
      O veículo deverá estar disponível na garagem no horário de 00:00 às 05:00
      horas para conferência da irregularidade, conforme determinação
      SUMOB/BHTRANS.
    </h5>
  </section>
  <mat-divider></mat-divider>
  <section class="resultado-conferencia">
    <h3><strong>RESULTADO DA CONFERÊNCIA DA ADVERTÊNCIA DE IRREGULARIDADE:</strong></h3>
    <div class="dados">
      <h5>MAT. FISCAL: ______________________</h5>
      <h5>DATA: ______/ ______/ _____________</h5>
      <h5>HORA: ______: ______</h5>
      <h5>CUMPRIU: |__|</h5>
      <h5>NÃO CUMPRIU: |__|</h5>
      <h5>VEÍCULO INDISPONÍVEL: |__|</h5>
      <h5>NÃO VERIFICADO: |__|</h5>
      <h5>VISTO EMPRESA: _______________________</h5>
    </div>
  </section>
  <mat-divider></mat-divider>
  <footer>
<span>
    <h5>Empresa de Transportes e Trânsito de Belo Horizonte - S. A. BHTRANS</h5>
  </span>
    <h5>
      Av. Eng. Carlos Goulart, 900 - Bairro Estoril - CEP: 30455-700 - Belo
      Horizonte - MG
    </h5>
    <h5>2ª via - EMPRESA</h5>
  </footer>
</div>
<!-- *ngFor="let notificacao of notificacoes; let i = index" -->
