<div
  id="container"
  *ngFor="let notificacao of notificacoes; let i = index"
  class="page"
>
  <header>
    <h1>ADVERTÊNCIA DE IRREGULARIDADE</h1>
      <p>Nº da notificação: {{ notificacao.numeroIrregularidade }}</p>
  </header>
  <h2>VEÍCULO:</h2>
  <section>
    <p>VEÍCULO: {{ notificacao.numeroVeiculo }}</p>
    <p>Nº LINHA: {{ notificacao.numeroLinha }}</p>
    <p>NOME DA LINHA: ...</p>
    <p>CONSÓRCIO: {{ notificacao.numeroConsorcio }}</p>
    <p>NOME DA CONSÓRCIO: ...</p>
    <p>PLACA: ...</p>
  </section>
  <section class="irregularidade">
    <h2>IRREGULARIDADE:</h2>
    <div>
      <p>DATA: {{ notificacao.dataIrregularidade }}</p>
      <p>HORÁRIO: {{ notificacao.horario }}</p>
      <p>LOCAL: {{ notificacao.local }}</p>
      <p>OBSERVAÇÕES: {{notificacao.descricao}}</p>
      <p>CÓDIGO DA INFRAÇÃO: {{notificacao.codigoInfracao}}</p>
      <p>DESCRIÇÃO DA INFRAÇÃO: ...</p>
    </div>
  </section>
  <section class="fiscalizacao">
    <h2>FISCALIZAÇÃO:</h2>
      <p>MATRÍCULA: {{notificacao.matriculaAgente}}</p>
      <p>DATA DE EMISSÃO: {{notificacao.dataEmissao}}</p>
      <p>DATA DA CONFERÊNCIA: ...</p>
  </section>
  <section class="observacao">
    <p>
      O veículo deverá estar disponível na garagem no horário de 00:00 às 05:00
      horas para conferência da irregularidade, conforme determinação
      GEAOP/BHTRANS.
    </p>
  </section>
  <section class="resultado-conferencia">
    <h2>RESULTADO DA CONFERÊNCIA DA ADVERTÊNCIA DE IRREGULARIDADE:</h2>
    <div class="dados">
      <p>MAT. FISCAL: ______________________</p>
      <p>DATA: ______/ ______/ _____________</p>
      <p>HORA: ______: ______</p>
      <p>CUMPRIU: |__|</p>
      <p>NÃO CUMPRIU:  |__|</p>
      <p>VEÍCULO:</p>
      <p>VISTO EMPRESA: _______________________</p>
    </div>
  </section>
  <footer>
    <p>Empresa de Transportes e Trânsito de Belo Horizonte - S. A. BHTRANS</p>
    <p>
      Av. Eng. Carlos Goulart, 900 - Bairro Estoril - CEP: 30455-700 - Belo
      Horizonte - MG
    </p>
    <p>2ª via - EMPRESA</p>
  </footer>
</div>
