<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary" id="peso-fonte"
      >Advertência de Penalidade - GARVN</mat-toolbar
    >
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Usuário"
        type="text"
        [(ngModel)]="matricula"
        required="true"
      />
    </mat-form-field>
    <mat-form-field class="full-width">
      <input
        matInput
        placeholder="Senha"
        type="password"
        [(ngModel)]="senha"
        required="true"
      />
    </mat-form-field>
    <div id="centralizar">
      <mat-card-actions>
        <button
          color="primary"
          mat-raised-button
          id="button-entrar"
          (click)="entrar(matricula(), senha())"
        >
          ENTRAR
        </button>
      </mat-card-actions>
    </div>
  </mat-card-content>
</mat-card>
