<div style="margin-top: 20px">
  <mat-card>
    <form [formGroup]="veiculoForm">
      <mat-card-content>
        <ng-container>
          @if(typeForm() !== 'edit'){
          <mat-toolbar class="background-toolbar" id="peso-fonte"
            >Adicionar Veículo</mat-toolbar
          >

          }@else {
          <mat-toolbar class="background-toolbar" id="peso-fonte"
            >Alterar Veículo</mat-toolbar
          >}
        </ng-container>

        <!-- #update -->
        <ng-template>
          <mat-toolbar color="primary" id="peso-fonte"
            >Alterar Veículo</mat-toolbar
          >
        </ng-template>

        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Nº de veículo"
            formControlName="numeroVeiculo"
          />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input
            matInput
            placeholder="Placa do veículo"
            formControlName="placa"
          />
        </mat-form-field>
         <mat-form-field class="full-width">
          <input matInput placeholder="Operadora" formControlName="operadora" />
        </mat-form-field>
        <mat-form-field class="full-width">
          <input matInput placeholder="Consórcio" formControlName="consorcio" />
        </mat-form-field>
      </mat-card-content>

      <mat-card-actions>
        <ng-container>
          @if(typeForm() === 'edit'){
          <button
            type="button"
            id="button-salvar"
            (click)="onUpdate()"
            mat-raised-button
          >
            Salvar
          </button>
          }@else{
          <button
            type="button"
            id="button-salvar"
            (click)="onNew()"
            mat-raised-button
          >
            Salvar
          </button>
          }

          <button type="button" mat-raised-button (click)="voltar()">
            Cancelar
          </button>
        </ng-container>
      </mat-card-actions>
    </form>
  </mat-card>
</div>
