@media print {
  body {
    margin: 0;
    box-shadow: 0;
    font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;

  }

  .page {
    box-shadow: none;
    margin: 0;
    page-break-after: always;
  }

  button {
    display: none;
  }
}

.page {
  width: 21cm;
  height: 29.7cm;
  padding-top: -5px;
  margin: 0 auto;
  border-radius: 5px;
  background: white;

}

h1,
h2,
h3,
h4,
h5 {
  font-family: Montserrat, Roboto, Helvetica, Arial, sans-serif;
}

.centralizar {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  font-size: 10px;
}

.rounded-square {
  width: 10px;
  height: 10px;
  border-radius: 1px;
  border: 1px solid rgb(143, 142, 142);
  margin-left: 6px;
  padding: 1px 5px ;
  font-weight: bold;

}

/* Garantir que a página ocupe toda a altura da janela */
html, body {
  height: 100%;
  margin: 0;
}

.bhtrans{
  width: 70px;
  height: 70px;
}
.pbh{
  margin-top: 10px;
  width: 150px;
  height: 50px;
}

.titulo{
margin-top: 30px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
}
