<mat-card>
  <form [formGroup]="irregularidadeForm">
    <mat-card-content>
      <ng-container>
        @if(typeForm() !== 'edit'){
        <mat-toolbar color="primary" id="peso-fonte"
          >Adicionar Irregularidade</mat-toolbar
        >

        }@else {
        <mat-toolbar color="primary" id="peso-fonte"
          >Alterar Irregularidade</mat-toolbar
        >}
      </ng-container>

      <mat-form-field class="full-width">
        <input matInput placeholder="Data" formControlName="dataIrregularidade" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Hora" formControlName="horario" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Local" formControlName="local" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Número" formControlName="numeroLocal" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="bairro" formControlName="bairro" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="descricao" formControlName="descricao" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Código da infração" formControlName="numeroInfracao" />
      </mat-form-field>
       <mat-form-field class="full-width">
        <input matInput placeholder="Nº do Consórcio" formControlName="numeroConsorcio" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Nº da linha" formControlName="numeroLinha" />
      </mat-form-field>
      <mat-form-field class="full-width">
        <input matInput placeholder="Nº do veiculo" formControlName="numeroVeiculo" />
      </mat-form-field>

    </mat-card-content>

    <mat-card-actions>
      <ng-container>
        @if(typeForm() === 'edit'){
        <button
          type="button"
          id="button-salvar"
          (click)="onUpdate()"
          mat-raised-button
        >
          Salvar
        </button>
        }@else{
        <button
          type="button"
          id="button-salvar"
          (click)="onNew()"
          mat-raised-button
        >
          Salvar
        </button>
        }

        <button type="button" mat-raised-button (click)="voltar()">
          Cancelar
        </button>
      </ng-container>
    </mat-card-actions>
  </form>
</mat-card>
