<div class="container">
  <header>
      <h1>Advertência de Irregularidade</h1>
      <div class="numero">
          <h2>NÚMERO</h2>
          <p>GARBO/61478</p>
      </div>
  </header>
  <button mat-raised-button color="primary" (click)="voltar()">Voltar</button>
  <section class="informacoes-gerais">
      <h2>CONSÓRCIO:</h2>
      <p>803</p>
      <h2>N' LINHA:</h2>
      <p>1502</p>
      <h2>LINHA:</h2>
      <p>VISTA ALEGRE/GUARANI</p>
      <h2>PLACA:</h2>
      <p>QUL-2647</p>
      <h2>VEÍCULO:</h2>
      <p>30992</p>
  </section>
  <section class="irregularidade">
      <h2>IRREGULARIDADE:</h2>
      <div>
        <div style="display: flex;">
          <p>DATA:</p>
          <p>30/04/2024</p>  <p>HORÁRIO:</p>
          <p>05:10</p>
        </div>


          <p>LOCAL:</p>
          <p>PORTARIA DE GARAGEM</p>
          <p>CÓDIGO:</p>
          <p>01100</p>
          <p>INFRAÇÃO:</p>
          <p>LUZ DE VIGILIA/LENTE - MÁS CONDIÇÕES</p>
          <p>DESCRIÇÃO:</p>
          <p>LENTE DE VIGILIA LD QUEBRADA</p>
      </div>
  </section>
  <section class="fiscalizacao">
      <h2>FISCALIZAÇÃO:</h2>
      <div class="dados">
          <p>MATRÍCULA:</p>
          <p>495</p>
          <p>DATA DE EMISSÃO:</p>
          <p>24/04/2024</p>
          <p>DATA DA CONFERÊNCIA:</p>
          <p>18/06/2024</p>
      </div>
  </section>
  <section class="observacao">
      <p>O veículo deverá estar disponível na garagem no horário de 00:00 às 05:00 horas para conferência da irregularidade, conforme determinação GEAOP/BHTRANS.</p>
  </section>
  <section class="resultado-conferencia">
      <h2>RESULTADO DA CONFERÊNCIA DA ADVERTÊNCIA DE IRREGULARIDADE:</h2>
      <div class="dados">
          <p>MAT. FISCAL:</p>
          <p>-</p>
          <p>DATA:</p>
          <p>-</p>
          <p>HORA:</p>
          <p>-</p>
          <p>CUMPRIU:</p>
          <p>-</p>
          <p>NÃO CUMPRIU:</p>
          <p>-</p>
          <p>VEÍCULO:</p>
          <p>-</p>
          <p>NÃO:</p>
          <p>-</p>
          <p>VISTO EMPRESA:</p>
          <p>-</p>
      </div>
  </section>
  <footer>
      <p>Empresa de Transportes e Trânsito de Belo Horizonte - S. A. BHTRANS</p>
      <p>Av. Eng. Carlos Goulart, 900 - Bairro Estoril - CEP: 30455-700 - Belo Horizonte - MG</p>
      <p>2ª via - EMPRESA</p>
  </footer>
</div>
